/*
 * @author Maksim Sandybekov
 * @date 4.3.2020
 */

// Style colors
$old_burgundy: #402E46;
$light_cobalt_blue: #899CDF;
$ceil: #8F97C0;
$pale_cornflower_blue: #ACCEF7;
$alice_blue: #EEF5FD;
$cadmium_red: #E40521;