/*
 * @author Maksim Sandybekov
 * @date 4.3.2020
 */

@import "reset.scss";
@import "config.scss";



@mixin circle($size: 20px, $border: none, $background: none) {

    content: "a";
    width: $size;
    height: $size;

    min-width: $size;
    min-height: $size;
    border: $border;
    border-radius: 100%;

    background-color: $background;
}


// ----------------------
// Screen
body {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;

    .welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100vw;
        height: 100vh;


        svg {
            height: 150px;
            width: 150px;

            animation: jump 0.5s infinite;
            animation-timing-function: cubic-bezier(.08,.87,.23,1.02);
            animation-direction: alternate-reverse;
        }

        @keyframes jump {
            from {
                transform: translate(0px, 0px);
            }

            100% {
                transform: translate(0px, -10px);
            }
        }
    
        h3 {
            margin-top: 25px;
            user-select: none;
        }
        
    }
}


.leaflet-container {

    float: left;
    width: 70vw;
    height: 100vh;
    padding: 0;
    z-index: 1;

}



// Background-blur
.map {

    float: left;
    width: 70vw;
    height: 100vh;
    padding: 0;

    &:not(.active) .overlay {

        position: absolute;

        content: "";
        width: 70vw;
        height: 100vh;

        background-color: $ceil;
        
        opacity: (.6);
        z-index: 2;
    }


    &:not(.active) .leaflet-tile {
        background-color: black;
        filter: blur(4px);
    }

    // -webkit-backgrop-filter: blur(0.8);
    // backdrop-filter: blur(0.8);
}


// ----------------------
// Interactive-Viewport

.interactive-elements {

    position: relative;

    display: flex;
    float: left;

    justify-content: flex-start;
    align-items: center;

    flex-direction: column;

    width: 30vw;
    height: 100vh;
    
    box-sizing: border-box;
    padding: 0px 10px;
    padding-bottom: 50px;

    overflow-y: auto;
    overflow-x: hidden;



    // Header text
    .header {

        
        top: 0;
        position: sticky;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 50px 0;
        padding-left: 20%;
        padding-right: 5%;

        box-sizing: border-box;
        background: white;
        opacity: none;
        z-index: 2;

        p {
            position: relative;
            user-select: none;
        }

        // Counter for the selected districts
        .selected-districts {
            
            visibility: hidden;
            font-size: 12px;

            transition: background-color .2s;

            &.active {

                position: absolute;
                visibility: visible;
                top: -20px;

                background-color: $old_burgundy;
                color: white;
                padding: 5px 10px;
                border-radius: 50px;
            }
        }
    }

}


// trash-bin list
.list {


    .bin {

    }
}


// district selection
.districts {


    li {
        margin: 20px 0px;
    }

    .button.active {
        color: white;
        background-color: $ceil;
    }

    .button {
        
        border: none;

        i {
            position: absolute;
            left: 20px;
        }

        &:not(.active):not(:hover) {
            color: lighten(black, 60);   
            
        }

        .add svg path {
            transform: rotate(0deg);
            transform-origin: 50% 50%;
            transition: transform 0.5s;
        }

        &.active {
            .add svg path {
                fill: white;
                transform: rotate(45deg);
                transform-origin: 50% 50%;
            }
        }

        &:hover:not(.active){
            background-color: white;
            color: lighten(black, 40);
        }

    }
}


.button-circular {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include circle(40px, 2px solid $ceil, $ceil);

    transition: background-color .2s, border-color .2s;

    &:hover {
        border-color: lighten($ceil, 7);
        background-color: lighten($ceil, 7);
    }
}



// -----------------------
// Customize-Leaflet alt-text

.leaflet-routing-container {
    display: none;
    
    padding: 15px 15px;
    
    h3 {
        margin-bottom: 15px;
    }

    td {
        padding: 7px 0px;
    }
}


// -----------------------
// Basic components

.button {

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 20px;
    padding: 10px 20px;

    cursor: pointer;

    text-align: center;
    font-size: 16px;
    border: 1px solid $ceil;
    border-radius: 2%;

    font-family: 'Roboto', sans-serif;
    user-select: none;

    &:hover {
        color: white;
        background-color: $ceil;
    }
}


.input {
    font-family: 'Roboto', sans-serif;
}