/*
 * @author Maksim Sandybekov
 * @date 4.3.2020
 */

@import "reset.scss";
@import "config.scss";



@mixin circle($size: 20px, $border: none, $background: none) {

    width: $size;
    height: $size;
    border: $border;
    background-color: $background;
}


// ----------------------
// Screen
body {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100vw;
}


.leaflet-container {

    float: left;
    width: 70vw;
    height: 100vh;
    padding: 0;
}


// ----------------------
// Interactive-Viewport

.interactive-elements {

    display: flex;
    float: left;

    justify-content: center;
    align-items: center;

    width: 30vw;
    height: 100vh;
    padding: 0;
}



.list {


    .bin {

    }
}

.circle {
    @include circle(40px, 2px solid $ceil);
}



// -----------------------
// Customize-Leaflet

.leaflet-routing-container {
    padding: 15px 15px;
    
    h3 {
        margin-bottom: 15px;
    }

    td {
        padding: 7px 0px;
    }
}


// -----------------------
// Basic components

.button {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 20px;
    padding: 10px 20px;

    cursor: pointer;

    text-align: center;
    font-size: 16px;
    border: 1px solid $old_burgundy;
    border-radius: 2%;

    font-family: 'Roboto', sans-serif;

    &:hover {
        color: white;
        background-color: $old_burgundy;
    }
}


.input {

    font-family: 'Roboto', sans-serif;
}